/* Importar fuente */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Reset de estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente de todo el documento y elementos de entrada */
body,
input {
  background-image: url('../img/fondo.png');
  font-family: "Poppins", sans-serif;
  background-color: rgb(61, 61, 61);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor central */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.content {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para resaltar */
  border-radius: 10px;
}

/* Estilo de título */
.title {
  font-size: 2.2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Texto de redes sociales */
.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

/* Iconos de redes sociales */
.social-media {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgb(255, 253, 253);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: rgba(238, 69, 57, 0.647);
  border-color: rgba(238, 69, 57, 0.647);
}

/* Botón */
.btn {
  width: 150px;
  background-color: rgb(202, 39, 27);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgba(202, 39, 27, 0.647);
}

/* Estilos para las imágenes laterales */
.side-image {
  width: 150px; /* Ajusta según sea necesario */
  height: auto;
  margin: 0 1rem;
}

.left-image {
  order: 1;
}

.right-image {
  order: 3;
}

/* Ajustar orden del contenido */
.content {
  order: 2;
}

/* Ajustes de estilo para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side-image {
    width: 100px; /* Ajusta según sea necesario para móviles */
    margin: 1rem 0;
  }

  .content {
    order: 2;
  }
}
